@import "./base.css";

@layer components {
  .transit {
    @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300;
  }

  .text {
    @apply text-2xl font-bold tracking-tight text-gray-700 text-center sm:text-4xl;
  }

  .card-transit {
    @apply duration-300 hover:scale-105 hover:shadow-lg;
  }

  /* .read-only-input {
      @apply rounded-lg border border-gray-300 shadow-sm bg-slate-200 text-black py-1.5;
    } */
}

.desc::-webkit-scrollbar {
  width: 6px;
}

.desc::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
}

.desc::-webkit-scrollbar-track {
  background-color: #eee;
}
